In [4]:
#soal1 Sebuah Dadu Di lempar secara acak dengan 15x percobaan		
a = 3
b = 2
c = 4
d = 5
e = 6
f = 1
g = 5
h = 6
i = 3
j = 2
k = 2
l = 1
m = 3
n = 1
o = 5

z = 6

dadu1 = (a/z)
print('dadu_1 =', dadu1)
dadu2 = (b/z)
print('dadu_2 =', dadu2)
dadu3 = (c/z)
print('dadu_3 =', dadu3)
dadu4 = (d/z)
print('dadu_4 =', dadu4)
dadu5 = (e/z)
print('dadu_5 =', dadu5)
dadu6 = (f/z)
print('dadu_6 =', dadu6)
dadu7 = (g/z)
print('dadu_7 =', dadu7)
dadu8 = (h/z)
print('dadu_8 =', dadu8)
dadu9 = (i/z)
print('dadu_9 =', dadu9)
dadu10 = (j/z)
print('dadu_10 =', dadu10)
dadu11 = (k/z)
print('dadu_11 =', dadu11)
dadu12 = (l/z)
print('dadu_12 =', dadu12)
dadu13 = (m/z)
print('dadu_13 =', dadu13)
dadu14 = (n/z)
print('dadu_14 =', dadu14)
dadu15 = (o/z)
print('dadu_15 =', dadu15)

dadu_1 = 0.5
dadu_2 = 0.3333333333333333
dadu_3 = 0.6666666666666666
dadu_4 = 0.8333333333333334
dadu_5 = 1.0
dadu_6 = 0.16666666666666666
dadu_7 = 0.8333333333333334
dadu_8 = 1.0
dadu_9 = 0.5
dadu_10 = 0.3333333333333333
dadu_11 = 0.3333333333333333
dadu_12 = 0.16666666666666666
dadu_13 = 0.5
dadu_14 = 0.16666666666666666
dadu_15 = 0.8333333333333334

In [5]:
#TOTAL

dadu_1 = 0.5
dadu_2 = 0.33
dadu_3 = 0.66
dadu_4 = 0.83
dadu_5 = 1.0
dadu_6 = 0.16
dadu_7 = 0.83
dadu_8 = 0.33
dadu_9 = 0.16
dadu_10 = 0.5
dadu_11 = 0.16
dadu_12 = 0.83
dadu_13 = 0.5
dadu_14 = 0.16
dadu_15 = 0.83

total = (dadu_1 + dadu_2 + dadu_3 + dadu_4 + dadu_5 + dadu_6 + dadu_7 + dadu_8 + dadu_9 + dadu_10 + dadu_11 + dadu_12 + dadu_13 + dadu_14 + dadu_15)
print('Total =',total)

Total = 7.780000000000001

In [6]:
a = 3
b = 2
c = 4
d = 1
e = 3
f = 2
g = 2
h = 1
i = 3
j = 1

total = ( a + b + c + d + e + f + g + h + i + j)
print('Total pelemparan dadu yang memiliki nilai < 5 =', total)

Total pelemparan dadu yang memiliki nilai < 5 = 22

In [8]:
#Dua buah Dadu di lempar Secara Acak 20x Percobaan
a = 9
b = 11
c = 3
d = 6
e = 2
f = 4
g = 9
h = 12
i = 10
j = 8
k = 2
l = 6
m = 3
n = 4
o = 9
p = 8
q = 5
r = 6
s = 11
t = 10

z = 6

dadu1 = (a/z)
print('dadu_1 =', dadu1)
dadu2 = (b/z)
print('dadu_2 =', dadu2)
dadu3 = (c/z)
print('dadu_3 =', dadu3)
dadu4 = (d/z)
print('dadu_4 =', dadu4)
dadu5 = (e/z)
print('dadu_5 =', dadu5)
dadu6 = (f/z)
print('dadu_6 =', dadu6)
dadu7 = (g/z)
print('dadu_7 =', dadu7)
dadu8 = (h/z)
print('dadu_8 =', dadu8)
dadu9 = (i/z)
print('dadu_9 =', dadu9)
dadu10 = (j/z)
print('dadu_10 =', dadu10)
dadu11 = (k/z)
print('dadu_11 =', dadu11)
dadu12 = (l/z)
print('dadu_12 =', dadu12)
dadu13 = (m/z)
print('dadu_13 =', dadu13)
dadu14 = (n/z)
print('dadu_14 =', dadu14)
dadu15 = (o/z)
print('dadu_15 =', dadu15)
dadu16 = (p/z)
print('dadu_16 =', dadu16)
dadu17 = (q/z)
print('dadu_17 =', dadu17)
dadu18 = (r/z)
print('dadu_18 =', dadu18)
dadu19 = (s/z)
print('dadu_19 =', dadu19)
dadu20 = (t/z)
print('dadu_20 =', dadu20)

dadu_1 = 1.5
dadu_2 = 1.8333333333333333
dadu_3 = 0.5
dadu_4 = 1.0
dadu_5 = 0.3333333333333333
dadu_6 = 0.6666666666666666
dadu_7 = 1.5
dadu_8 = 2.0
dadu_9 = 1.6666666666666667
dadu_10 = 1.3333333333333333
dadu_11 = 0.3333333333333333
dadu_12 = 1.0
dadu_13 = 0.5
dadu_14 = 0.6666666666666666
dadu_15 = 1.5
dadu_16 = 1.3333333333333333
dadu_17 = 0.8333333333333334
dadu_18 = 1.0
dadu_19 = 1.8333333333333333
dadu_20 = 1.6666666666666667

In [11]:
#Total nilai probabilitas dari semua percobaan
dadu_1 = 1.5
dadu_2 = 1.83
dadu_3 = 0.5
dadu_4 = 1.0
dadu_5 = 0.33
dadu_6 = 0.66
dadu_7 = 1.5
dadu_8 = 2.0
dadu_9 = 1.66
dadu_10 = 1.33
dadu_11 = 0.33
dadu_12 = 1.0
dadu_13 = 0.5
dadu_14 = 0.66
dadu_15 = 1.5
dadu_16 = 1.33
dadu_17 = 0.83
dadu_18 = 1.0
dadu_19 = 1.83
dadu_20 = 1.66


total = (dadu_1 + dadu_2 + dadu_3 + dadu_4 + dadu_5 + dadu_6 + dadu_7 + dadu_8 + dadu_9 + dadu_10 + dadu_11 + dadu_12 + dadu_13 + dadu_14 + dadu_15 + dadu_16 + dadu_17 + dadu_18 + dadu_19 + dadu_20)
print('Total nilai probabilitas dari semua percobaan =',total)

Total nilai probabilitas dari semua percobaan = 22.95

In [12]:
#Total pelemparan dadu yang memiliki nilai genap
a = 6
b = 2
c = 4
d = 12
d = 10
e = 8
f = 2
g = 6
i = 4
j = 8
k = 6
l = 10

total_d = (a + b + c + d + e + f + g + h + i + j + k + l)
print('Total pelemparan dadu yang memiliki nilai genap =', total_d)

Total pelemparan dadu yang memiliki nilai genap = 78